---
layout: page
title: Projects
---
<section class="list">
    <div class="item">
        <a class="url" href="https://github.com/Almotasem100/Computer-Graphics">
            <aside><time datetime="2018-07-07">April 2021</time></aside>
            <h3 class="title">Computer Graphics Projects</h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="">
            <aside><time datetime="2018-07-07">April 2021</time></aside>
            <h3 class="title"></h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="">
            <aside><time datetime="2018-07-07">April 2021</time></aside>
            <h3 class="title"></h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="">
            <aside><time datetime="2018-07-07">April 2021</time></aside>
            <h3 class="title"></h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="">
            <aside><time datetime="2018-07-07">April 2021</time></aside>
            <h3 class="title"></h3>
        </a>
    </div>
    <div class="item">
        <a class="url" href="">
            <aside><time datetime="2018-07-07">April 2021</time></aside>
            <h3 class="title"></h3>
        </a>
    </div>
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if false %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
