---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if false %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    <div class="item">
        <a class="url" target="_blank" href="https://github.com/Almotasem100/Temperature-Controller">
            <aside><time datetime="2018-07-07">June 2021</time></aside>
            <h3 class="title">Temperature Controller Embedded System</h3>
        </a>
    </div>
    <div class="item">
        <a class="url" target="_blank" href="https://github.com/Almotasem100/Computer-Vision">
            <aside><time datetime="2018-07-07">June 2021</time></aside>
            <h3 class="title">Computer Vision Projects</h3>
        </a>
    </div>
    <div class="item">
        <a class="url" target="_blank" href="https://github.com/Almotasem100/MRI-magnetization-trajectory">
            <aside><time datetime="2018-07-07">May 2020</time></aside>
            <h3 class="title">MRI Magnetization Trajectory</h3>
        </a>
    </div>
    <div class="item">
        <a class="url" target="_blank" href="https://github.com/Almotasem100/Computer-Graphics">
            <aside><time datetime="2018-07-07">April 2020</time></aside>
            <h3 class="title">Computer Graphics Projects</h3>
        </a>
    </div>
    <div class="item">
        <a class="url" target="_blank" href="https://github.com/Almotasem100/Clinics-Reservation-Website">
            <aside><time datetime="2018-07-07">Dec 2019</time></aside>
            <h3 class="title">Clinics Reservation Website</h3>
        </a>
    </div>
    <div class="item">
        <a class="url" target="_blank" href="https://github.com/Almotasem100/Huffman-Algorithm">
            <aside><time datetime="2018-07-07">May 2019</time></aside>
            <h3 class="title">Huffman Algorithm Implementation</h3>
        </a>
    </div>
</section>
